{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

{% include 'include/header.html' %}

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand home" href="{% url 'home_url' %}" data-animate-hover="bounce">
                <img hight = 20px; src="{% static 'img/logo.png' %}" alt="Obaju logo" class="hidden-xs">
                <img src="{% static 'img/logo-small.png' %}" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
                <a class="btn btn-default navbar-toggle" href="basket.html">
                    <i class="fa fa-shopping-cart"></i><span class="hidden-xs">{{carts.count}}</span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">

            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="{% url 'home_url' %}">Главная страница</a>
                </li>
                <li><a href="{% url 'category_url' %}">Категории/
                    Теги
                </a>
                </li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'my_products_url' %}">Мои товары</a>
                </li>
                {% endif %}
            </ul>

        </div>
        <!--/.nav-collapse -->

        <div class="navbar-buttons">
            {% if user.is_authenticated %}
            <div class="navbar-collapse collapse right" id="basket-overview">
                <a href="{% url 'wishlist_url' %}" class="btn btn-primary navbar-btn"><i class="fa fa-heart"></i></a>
                <a href="{% url 'my_orders_url' %}" class="btn btn-primary navbar-btn"> Мои заказы</a>
                {% if total_quantity != 0 %}
                <a href="{% url 'cart_url' %}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">  В корзине {{total_quantity}} товар/товаров.</span></a>
                {% else %}
                <a href="{% url 'cart_url' %}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm"></span></a>
                {% endif %}
            </div>
            <!--/.nav-collapse -->
            {% endif %}

        </div>
            </form>

        </div>
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->

<!-- *** NAVBAR END *** -->
    <div id="all">

        <div id="content">
            <div class="container">

                <div class="center">
                    <div class="box">
                        <h1>Мои заказы</h1>

                        <hr>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Заказ №</th>
                                        <th>Дата</th>
                                        <th>Просмотр</th>
                                    </tr>
                                </thead>
                                {% for order in orders %}
                                <tbody>
                                    <tr>
                                        <th># {{order.id}}</th>
                                        <td>{{order.added}}</td>
                                        <td><a href="{% url 'order_detail_url' order.id %}" class="btn btn-primary btn-sm">Посматреть</a>
                                        </td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


    

        {% endblock %}