{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

{% include 'include/header.html' %}

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand home" href="{% url 'home_url' %}" data-animate-hover="bounce">
                <img hight = 20px; src="{% static 'img/logo.png' %}" alt="Obaju logo" class="hidden-xs">
                <img src="{% static 'img/logo-small.png' %}" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <a class="btn btn-default navbar-toggle" href="basket.html">
                    <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">4 items in cart</span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">

            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="{% url 'home_url' %}">Главная страница</a>
                </li>
            </ul>

        </div>
        <!--/.nav-collapse -->
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>


<div class="col-md-5 mb-30 offset-md-1">
    <h2>Создать тег</h2>
    <form method="POST" class="contact_form" enctype='multipart/form-data'>
        <!-- form message -->
        {% csrf_token %}
        <!-- form elements -->
        <div class="row">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name">Тег <span class="required">*</span>
                        </label>
                        <input type="text" class="form-control" name="title" id="name">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button type="submit" class="butn-dark2"><span>Создать</span></button>
            </div>
        </div>
    </form>
</div>


    

{% endblock %}